{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_record' %}">Добавить</a>
    </li>
{% endblock %}

{% block title %}
    All Records
{% endblock %}

{% block content %}
    <br/>
    <h3>Все записи гостевой книги:</h3>
    <br/>
    {% for record in records %}
        <div class="card" style="width: 33rem; border-radius: 1em;">
            <div class="card-body">
                <div style="text-align: left;">
                    <h6 class="card-title" style="display: inline-block;">{{ record.author }} ({{ record.email }})</h6>
                    <a style="float: right;"
                       href="{% url "update_record" record.pk %}"><i
                            class="bi bi-pencil-square"></i></a>
                </div>
                <p class="card-text">{{ record.text }}</p>
                {#                <a href="{% url "delete_record" record.pk %}"><i class="bi bi-trash"></i></a>#}
                {#                <p>{{ record.text }}</p>#}
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock %}